<div class="new-post">
    <%= link_to 'New Post', '/posts/new' %> <br>
</div>

<% if !@posts.nil? %>
    <%= render 'partials/show_posts' %> 
<% else %>
    No post found! Go to <%= link_to 'Find', '/users' %> to find friends
<% end %>